<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="vn.de.example.parkingregistration.model.mapper.SubjectModelMapper">

	<select id="findAllSubject" resultType="Subject">
		select * from subject
	</select>

	<resultMap type="Subject" id="subject">
		<id column="id_sub" property="idSub" />
		<result column="sub" property="sub" />
	</resultMap>
</mapper>
